# Output image name. Keep it the same as the GitHub repository name.
IMAGE_NAME="family-bazzite"

# GitHub user or organization that owns the repository and GHCR package.
REPO_ORGANIZATION="iegorch86"

IMAGE_DESC="Personal Bazzite GNOME image with Brave, Gaze, and Pantum support"
IMAGE_KEYWORDS="bazzite,gnome,bootc,gaze,brave,pantum"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/66792505"
DEFAULT_TAG="stable"

BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
